html {
    font-size: 12pt !important;
}
* {
    font-family: 'Helvetica Neue' !important;
}
body {
    background-color: #f4faff;
    color: #18202edd;
    line-height: 1.45;
    font-weight: 300;
}
.center-content {
    width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
}
.control-btn {
    padding: 4pt;
    font-size: 1.1em;
}
canvas {
    border: 1px solid black;
    width: 100%;
}
@media (max-width: 900px) {
    .center-content {
        width: 100%;
        margin: 0 auto;
    }
}